.about {
  padding-top: 10rem;
  &-image-top {
    position: absolute;
    top: -6rem;
    left: 8.5rem;
  }
  &-icon {
    display: inline-block;
    margin-bottom: 4rem;
  }
  &-spa {
    font-family: $secondnary-font;
    font-weight: 400;
    color: #ff817e;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 4rem;
  }
  &-title {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 4.2rem;
    color: $color-primary;
    margin-bottom: 4rem;
  }
  &-desc {
    font-family: $secondnary-font;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #bbbbbb;
    margin-bottom: 6.5rem;
  }
  &-button {
    padding: 1.5rem 3.5rem;
    border-radius: 3rem;
    background-color: #ff817e;
    color: white;
    font-family: $secondnary-font;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 400;
    &:hover {
      color: $color-primary;
    }
  }
  &-image-middle {
    position: absolute;
    right: 0;
    top: 20rem;
  }
  &-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 12.5rem;
    margin-left: -5px;
  }
  &-item {
    margin-left: 5px;
    width: calc(25% - 5px);
    position: relative;
    transition: all 0.25s linear;
    &-desc {
      margin-top: 2.5rem;
      color: white;
      font-family: $primary-font;
      font-weight: bold;
    }
    &:hover {
      .about-ontop {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-ontop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(to bottom, rgba(#ff817e, 0.8), rgba(#ff817e, 0.8));
    transition: all 0.25s linear;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.container {
  position: relative;
}
.block {
  text-align: center;
  padding: 0 8.5rem;
}
