.popular {
  padding-top: 10rem;
  margin-bottom: 10rem;
  &-title {
    font-family: $primary-font;
    font-weight: bold;
    font-size: 4.2rem;
    color: $color-primary;
    margin-bottom: 4rem;
  }
  &-desc {
    font-family: $secondnary-font;
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #bbbbbb;
    &-bottom {
      font-family: $secondnary-font;
      font-weight: 300;
      line-height: 1.6;
      font-size: 1.5rem;
      color: #bbbbbb;
      margin-bottom: 6.5rem;
    }
  }
  &-list {
    display: flex;
    //align-items: stretch;
    flex-wrap: wrap;
    margin-left: -3rem;
  }
  &-item {
    margin-left: 3rem;
    width: calc(33.33% - 3rem);
    padding: 2rem;
    background-color: white;
    border: 1px solid rgba($text-color, 0.3);
    text-align: center;
    transition: all 0.25s linear;
    &:hover {
      box-shadow: 0 7px 10px rgba($color-primary, 0.1);
      .popular-content-button {
        background-color: #ff817e;
      }
    }
  }
  &-image {
    display: inline-block;
    width: 100%;
  }
  &-content {
    padding-top: 4rem;
    &-title {
      font-family: $primary-font;
      font-weight: bold;
      color: $color-title;
      font-size: 20px;
      margin-bottom: 4rem;
    }
    &-desc {
      font-family: $secondnary-font;
      font-weight: 300;
      line-height: 1.6;
      font-size: 1.5rem;
      color: #bbbbbb;
      text-align: none;
      margin-bottom: 5.5rem;
    }
    &-button {
      padding: 1.5rem 4.5rem;
      border-radius: 3rem;
      background-color: $color-primary;
      color: white;
      font-family: $secondnary-font;
      font-weight: 300;
      text-transform: uppercase;
      transition: all 0.25s linear;
      font-weight: 400;
      margin-bottom: 3rem;
      display: inline-block;
    }
  }
}
